* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Gordita Regular";
}
ol,
ul {
    list-style: none;
}
del {
    text-decoration: line-through;
}
body {
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}
input,
textarea,
select {
    font-weight: 400;
}

a {
    color: #1c2c40;
}
a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
.thumb {
    display: block;
}
.thumb img {
    display: block;
    width: 100%;
}
p {
    line-height: 1.6em;
    font-size: 16px;
    font-weight: 400;
}
.hidden {
    display: none;
}
br.clear {
    clear: both;
    line-height: 0;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1500px;
}

@font-face {
    font-family: "Gordita Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Gordita Regular"),
        url("../fonts/Gordita Regular.woff") format("woff");
}

@font-face {
    font-family: "Gordita Medium";
    font-style: normal;
    font-weight: normal;
    src: local("Gordita Medium"), url("../Gordita Medium.woff") format("woff");
}

@font-face {
    font-family: "Gordita Bold";
    font-style: normal;
    font-weight: normal;
    src: local("Gordita Bold"), url("../Gordita Bold.woff") format("woff");
}
img {
    display: block;
    width: 100%;
    height: 100%;
}
header{
    /* display: flex;
    justify-content: space-between; */


}
.wrapper{
    display: flex;
    justify-content: space-between;

}

