<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <title>Cosmetics</title>
        <link
            rel="stylesheet"
            href="{% static './css/style.css' %}"
            type="text/css"
        />
        <header>
            <h1>
                <a href="./index.html">
                   <h1>products</h1>
                </a>
            </h1>
            <div>
                <a href="./login.html" class="login"> Login </a>
            <div>
            <div id="hamburger-icon">
                <img
                    src="./images/icons/hamburger.svg"
                    alt="Hamburger"
                />
            </div>
        </header>
      